h3 {
    box-shadow: 10px 10px 8px darkgray;
    width: 75%;
    color: rgb(255, 255, 255);
    }
.info {
color: rgb(0, 230, 222);
font-size: 15px;
}
canvas {
    border: 2px solid rgb(7, 93, 79);
    box-shadow: 7px 7px 7px rgb(8, 1, 1);
}
.footer {
    position: fixed;
    bottom: 0;
    color: white;
    background-color: rgb(0, 0, 0);
    width: 100%;
    text-align: center;
}
#body{
    background-color: rgb(129, 174, 225);
}